spring:
  profiles:
    active: local

server:
  jetty:
    threads:
      min: 10          # 최소 스레드 수
      max: 200         # 최대 스레드 수
      idle-timeout: 60000  # 유휴 스레드 타임아웃 (ms)
    connection-idle-timeout: 30000  # 연결 유휴 타임아웃 (ms)

logging:
  file:
    path: ./logs
  level:
    org.daejoeng.common.config.security: DEBUG
    org.springframework.security: DEBUG
    org.eclipse.jetty: INFO    # Jetty 로그 레벨 설정

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    groups-order: DESC
    operationsSorter: method
    disable-swagger-default-url: true
    display-request-duration: true
  api-docs:
    path: /api-docs
  show-actuator: true
  default-consumes-media-type: application/json
  default-produces-media-type: application/json

jwt:
  secret: dj89sFD2SDF89sf2SDF89dsf2SDF89dsf2SDF89dsf2SDF89dsf2SDF89dsf2SDF89dsf2SDF89dsf2SDF89dsf2SDF89dsf2
  expiration: 3600000      # 1시간
  refresh-token:
    expiration: 604800000  # 7일 